@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.compounds{
    background-image: url("../Images/interlaced.png");
}
.downloads-header
{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../Images/Backdrop1.jpg");
    background-position:top;
    background-size: cover;
    position: relative;
}

.downloads-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: poppins,sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    position:absolute;
    width: 80%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.downloads-heading h1{
    font-size: 62px;    
    text-align: center;
}
.downloads-heading h1 span{
    color: #1fa329;
}
.downloads-content{

    margin: 100px auto;
    width: 85%;
    text-align: justify;
    background-image: linear-gradient(rgba(198, 252, 153, 0.4),rgba(198,252,153,0.4));
    color: black;
    background-position: center;
    background-size: cover;
    padding: 70px 50px;
    border-radius: 10px;
}
@media(max-width: 960px){
    .downloads-heading h1{
        font-size: 40px;
    }
    
}